# JDS-ML project

In [6]:
import pandas as pd 
import numpy as np

**Data**

In [10]:
df = pd.read_csv(r'c:\projects\JDS_ML\model\data\compact_data.csv', sep = ';')
#df = pd.read_csv(r'c:\projects\JDS_ML\model\data\intermediate_data.csv', sep = ';')

In [11]:
df.head()

,SUBID,CountryCorrFinal,country_nr,LAKEREGION,POURX,POURY,TARGETX,TARGETY,CENTERX,CENTERY,...,distance_t,CumAreakkm2,reach_bin,pharma_bin,pest_bin,sub_groups,emission_air,emission_water,emission_ww,emission_soil
0,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,1,0,pharma,NaN,NaN,NaN,NaN
1,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,1,0,pharma,NaN,NaN,NaN,NaN
2,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,1,0,pharma,NaN,NaN,NaN,NaN
3,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,1,0,pharma,NaN,NaN,NaN,NaN
4,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,1,0,0,reach,"8,496359e-04","0,000000e+00","1,207679e-03","3,057896e-04"

In [14]:
a = list(df.columns)

In [15]:
print(a)

['SUBID', 'CountryCorrFinal', 'country_nr', 'LAKEREGION', 'POURX', 'POURY', 'TARGETX', 'TARGETY', 'CENTERX', 'CENTERY', 'LATITUDE', 'LONGITUDE', 'station_co', 'Substance', 'CAS_No', 'H_Unit', 'Concentration', 'subs_value', 'valid_measurement', 'kbiodeg', 'log_kow', 'molar_mass', 'ks', 'AREA', 'area_agr', 'UPAREA', 'RIVLEN', 'ELEV_MEAN', 'ELEV_STD', 'SLOPE_MEAN', 'RELIEF', 'SLC_1', 'SLC_2', 'SLC_4', 'SLC_5', 'SLC_6', 'SLC_7', 'SLC_8', 'SLC_9', 'SLC_10', 'SLC_11', 'SLC_12', 'SLC_13', 'SLC_14', 'SLC_15', 'SLC_16', 'SLC_17', 'SLC_18', 'SLC_19', 'SLC_20', 'SLC_21', 'SLC_22', 'SLC_24', 'SLC_25', 'SLC_27', 'SLC_28', 'SLC_29', 'SLC_30', 'SLC_31', 'SLC_34', 'SLC_37', 'SLC_38', 'SLC_39', 'SLC_40', 'SLC_42', 'SLC_43', 'SLC_44', 'SLC_45', 'SLC_46', 'SLC_47', 'SLC_48', 'SLC_49', 'SLC_50', 'SLC_52', 'SLC_55', 'SLC_61', 'SLC_62', 'SLC_63', 'SLC_64', 'SLC_65', 'SLC_67', 'SLC_68', 'SLC_69', 'SLC_71', 'SLC_72', 'SLC_73', 'wetdep_n', 'drydep_n1', 'loc_vol', 'loc_tn', 'loc_tp', 'CumCat_km2', 'GDPEP', 'distance_t', 'CumAreakkm2', 'reach_bin', 'pharma_bin', 'pest_bin', 'sub_groups', 'emission_air', 'emission_water', 'emission_ww', 'emission_soil']

In [16]:
df.iloc[:20]

,SUBID,CountryCorrFinal,country_nr,LAKEREGION,POURX,POURY,TARGETX,TARGETY,CENTERX,CENTERY,...,distance_t,CumAreakkm2,reach_bin,pharma_bin,pest_bin,sub_groups,emission_air,emission_water,emission_ww,emission_soil
0,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,1,0,pharma,NaN,NaN,NaN,NaN
1,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,1,0,pharma,NaN,NaN,NaN,NaN
2,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,1,0,pharma,NaN,NaN,NaN,NaN
3,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,1,0,pharma,NaN,NaN,NaN,NaN
4,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,1,0,0,reach,"8,496359e-04","0,000000e+00","1,207679e-03","3,057896e-04"
5,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,1,0,0,reach,"8,496359e-04","0,000000e+00","1,207679e-03","3,057896e-04"
6,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,1,0,0,reach,"8,496359e-04","0,000000e+00","1,207679e-03","3,057896e-04"
7,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,0,0,NaN,NaN,NaN,NaN,NaN
8,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,0,1,pest,"1,933728e-01","1,289190e-02","0,000000e+00","9,539780e-01"
9,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,0,1,pest,"1,933728e-01","1,289190e-02","0,000000e+00","9,539780e-01"
10,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,0,1,pest,"1,933728e-01","1,289190e-02","0,000000e+00","9,539780e-01"
11,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,1,0,0,reach,"1,962407e-04","0,000000e+00","2,789548e-04","7,052516e-05"
12,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,1,0,0,reach,NaN,NaN,NaN,NaN
13,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,1,0,pharma,NaN,NaN,NaN,NaN
14,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,0,1,pest,"1,849367e+00","1,232892e-01","0,000000e+00","9,123414e+00"
15,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,0,1,pest,"1,849367e+00","1,232892e-01","0,000000e+00","9,123414e+00"
16,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,0,0,NaN,NaN,NaN,NaN,NaN
17,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,0,0,NaN,NaN,NaN,NaN,NaN
18,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,0,0,NaN,NaN,NaN,NaN,NaN
19,9605508,Germany,15,1,"10,1146","48,4396","10,1109","48,4558","10,0908","48,3958",...,"2,581e+09",8,0,0,0,NaN,NaN,NaN,NaN,NaN